<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kieboom.joey.avanseventmanager">

    <application
        android:name=".AvansEventManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.artist.CreateArtistActivity"
            android:label="@string/title_activity_create_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.artist.EditArtistActivity"
            android:label="@string/title_activity_edit_artist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.area.CreateAreaActivity"
            android:label="@string/title_activity_create_area"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.area.EditAreaActivity"
            android:label="@string/title_activity_edit_area"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.performance.CreatePerformanceActivity"
            android:label="@string/title_activity_create_performance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.performance.EditPerformanceActivity"
            android:label="@string/title_activity_edit_performance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.performance.PerformanceOverviewActivity"
            android:label="@string/title_activity_performance_overview"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>